.title {
    color: $second-color;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        color: #fff;
        line-height: 42px;
        margin-bottom: 65px;
        text-align: left;
    }
}